@{
    Teacher teacher = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Teacher</h4>
                <p>
                    @teacher.Name
                </p>
                <p>
                    @teacher.ImageUrl
                </p>
                <p>
                    @teacher.Occupation
                </p>
                <p>
                    @teacher.About
                </p>
                <p>
                    @teacher.Degree
                </p>
                <p>
                    @teacher.Experience
                </p>
                <p>
                    @teacher.Faculty
                </p>
                <p>
                    @teacher.Mail
                </p>
                <p>
                    @teacher.Phone
                </p>
                <p>
                    @teacher.Skype
                </p>
            </div>
        </div>
    </div>
</div>