@{
    Course course = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Course</h4>
                <p>
                    @course.Name
                </p>
                <p>
                    @course.Description
                </p>
                <p>
                    @course.ImageUrl
                </p>
                <p>
                    @course.About
                </p>
                <p>
                    @course.HowToApply
                </p>
                <p>
                    @course.Certification
                </p>
                <p>
                    @course.StartDate
                </p>
                <p>
                    @course.TotalDuration
                </p>
                <p>
                    @course.ClassDuration
                </p>
                <p>
                    @course.SkillLevel
                </p>
                <p>
                    @course.Language
                </p>
                <p>
                    @course.Students
                </p>
                <p>
                    @course.Assesments
                </p>
                <p>
                    @course.Fee
                </p>
                <p>
                    @course.Category.Name
                </p>
            </div>
        </div>
    </div>
</div>